h1{
    font-size: 40px;
    color: darkslategrey;
}

p{
    color:darkslategrey;

}
/* header{
    height: 400px;
} */
article{
    width: 1000px;
}

.h-style{
    color: darkslategrey;
}

#site-desc p{
color:red;
}

#blog-desc{
    color: #314831;
}

h1 .h-style {
    font-family: sans-serif;
}

h4.h-style {
    font-family: monospace;
    font-size: 18px;
}

#main-header a{
    font-size: 28px;
    color: black;

}
#main-header a:hover{
    color: orange;
}
